@font-face {
  font-family: Miroslav;
  src: url('../fonts/Miroslav-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: Miroslav, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #200, 200, 200;

}

.background-p {
  background-image: url('../images/parchment.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.inside {
  padding-top: 120px;
  padding-left: 80px;
  padding-right: 50px;
  padding-bottom: 100px;
}

@media screen and (min-width: 950px) {
  .inside {
    padding-left: 150px;
    padding-right: 90px;
  }
}