{% extends 'member/base.html' %}

{% load static %}

{% block title %}Пересвет{% endblock %}

{% block link %}
  <link rel="stylesheet" href="{% static 'member/css/index.css' %}">
{% endblock %}

{% block content %}
  <h3>История клуба</h3>
  <div class="background-p">
      <div class="inside">
        <p>Бойцовский клуб «Александр Пересвет» существует в Реутове с начала 1960 годов. Он располагается на территории
        спорткомплекса «Старт» и специализируется на таких единоборствах, как бокс, кикбоксинг, ММА, Тайский бокс.</p>

      <p>В 2017 году абсолютный чемпион мира по кикбоксингу, а ныне профессиональный боксер Алексей Папин открыл после
        реконструкции бойцовский клуб «Александр Пересвет» в городе Реутов.</p>

      <p>Именно в этом бойцовском клубе, начинал свой путь к спортивному успеху сам Алексей Папин, заслуженный мастер
        спорта,
        абсолютный чемпион Мира по кикбоксингу, чемпион по боксу IBF international
        WBA Asia WBA continental, а также бывший чемпион мира по версии WBC Григорий Дрозд.</p>
      <p>На данный момент в клубе занимаеться более 150 человек. 17 человек входят в сборную Московской области из них 7
        человек входят в сборную России, спортсмены победители первенства мира в Турции, победители первенства России и
        всевозможных всероссийских соревнований, 3 - Мастера спорта, 7- Кандидатов в мастера спорта, 7 -
        перворазрядников.
      </p>
      </div>

  </div>

{% endblock %}